body, html {height:100%}
header {background:#00A4D5; width:100%; height:70px}
nav {background:#272C2F; height:calc(100% - 70px); width:150px; float:left}
#wrapper {margin-left:150px; background:#C5C9CC; height:calc(100% - 70px)}
#mainColumn {height:calc(100% - 20px); float:left; width:calc(100% - 170px); padding:10px}
article, main {background:#fff; margin-bottom:10px; height:calc(40% - 10px)}
footer {background:#000; height:20%; color:#fff}
aside {background:#F8F8F8; width:150px; height:100%; float:left}